@use "../helpers/varibles" as *;
@use "../helpers/mixins" as *;

footer {
  @media (max-width: 1023px) {
    margin-top: 3rem;
  }
  background-color: $black-color;
  color: $light-color;
  padding-top: 3rem;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    article {
      @media (max-width: 599px) {
        text-align: center;
      }
      padding: 1rem 0;
      & > p {
        padding-bottom: 1rem;
        font-size: 0.92rem;
      }
      i {
        padding-right: 1rem;
      }
      a {
        color: $white-color;
        transition: all 0.3s ease;
        &:hover {
          color: $light-color;
        }
      }
      & > h4 {
        color: $white-color;
        margin-bottom: 0.5rem;
      }
      ul {
        li {
          margin-bottom: 0.5rem;
        }
      }
      & > div {
        margin: 0.5rem 0;
      }
      #footer_icons {
        margin-top: 1rem;
      }
    }
  }
  .footer {
    text-align: center;
    padding: 1.8rem;
    border-top: 1px solid $light-color;
    span {
      color: $primary-color;
    }
  }
}
